.modalFrase{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-Frase{
    width: 225px;
    padding: 20px;
    height: 218px;
    color: black;
    font-family: 'Poppins';
    font-size: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content-telaDark{
    width: 225px;
    padding: 20px;
    height: 218px;
    color: #FAFAFA;
    font-family: 'Poppins';
    font-size: 15px;
    background-color: #3D3D3D;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#phrase{
    display: flex;
    margin-left: -15px;
}

#phrase p{
    font-weight: bold;
}

#phrase img{
    margin-right: 5px;
    width: 50px;
}

#containerTitleModalFrase{
    display: flex;
    align-items: center;
    justify-content: space-between;
}