.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.janelaTask {
    width: 474px;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTask {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-left: -15px;
}

.headerTask h1 {
    color: #3867D6;
    font-size: 20px;
    margin: 0;
    position: relative;
}

.headerTask h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px; 
    background-color: #3867D6;
    border-radius: 10px; 
}

.btnfecharTask {
    color: #226ED8;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.tituloTask,
.descricaoTask {
    margin-bottom: 20px;
}

.tituloTask h2,
.descricaoTask h2 {
    font-size: 12px;
    color: #141414;
}

#idtitulo,
#iddescricao {
    width: 374px;
    height: 40px;
    background: #EEEEEE;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#iddescricao {
    height: 90px;
    resize: none;
}

#newTask {
    width: 374px;
    height: 41px;
    background: linear-gradient(90.35deg, #4890F5 0%, #226ED8 99.7%);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#titleModalTask{
    width: 100%;
    display: flex;
    justify-content: center;

}
#buttonModalTask{
    display: flex;
    width: 1%;
    justify-content: flex-end;
    margin-left: -15px;
}

.dark-mode .janelaTask {
    background-color: #3D3D3D;
}

.dark-mode #idtitulo,
.dark-mode #iddescricao {
  background-color: #333333;
  color: #FAFAFA;
}

.dark-mode .tituloTask h2,
.dark-mode .descricaoTask h2 {
  color: #FAFAFA;
}

@media screen and (max-width: 768px){
    .janelaTask{
        width: 315px;
        height: 418px;
    }

    #newTask{
        width: 230px;
    }
    #idtitulo,
    #iddescricao{
        width: 230px;
    }
}