.container {
    text-align: start;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 5px;
  
  }
  #tarefas {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: "Poppins";
  }
  #headerFazer {
    display: flex;
    justify-content: space-between;
  }
  #addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: auto 0px auto 0px;
    color: #226ED8;
  }
  .tasks {
    background-color: #EEEEEE; 
    width: 320px;
    height: 337px;
    left: 160px;
    top: 301px;
    border-radius: 10px;
  }
  .frame {
    width: auto;
    height: 318px;
    padding-right: 5px;
    margin-bottom: 10px;
    overflow: auto;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .frame::-webkit-scrollbar {
    display: none;
}
  .listaTarefas {
    display: flex;
    flex-direction: column;
  
    position: relative;
    width: 280px;
    height: fit-content;
    list-style-type: none;
    padding-inline-start: 0px;
  }
  
  .listaTarefas li {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 14px;
    height: fit-content;
  }

  .dark-mode .tasks {
    background-color: #333333;
  }
