body {
  margin: 0;
  padding: 0;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}

button, a{
  cursor: pointer;
}

/* Estilos do modo escuro */

.bodyDark{
  background-color: #222222;
}

.dark-mode {
  background-color: #222222;
  color: white;
}

.dark-mode .expand {
  color: #5C9DFF;
}

.dark-mode header {
  background-color: #333333;
}

.dark-mode header h1{
  color: #3867D6;
}

.dark-mode footer {
  background-color: #333333;
}


