#headerTelaLogin{
    width: 100%;
    height: 52px;
    background-color: #226ED8;
}

.ContainerTelaLogin {
    margin-left: -60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

