#headerTelaLogin{
    width: 100%;
    height: 52px;
    background-color: #226ED8;
}

.ContainerTelaLogin {
    margin-left: -60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 860px) and (min-width: 769px){
  .ContainerTelaLogin {
    margin-top: 200px;
  }
  .ContainerTelaLogin img {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .ContainerTelaLogin{
    margin-left: -20px;
  }
  .ContainerTelaLogin img {
      display: none;
  }
}

