#headerTelaRegister{
    width: 100%;
    height: 52px;
    background-color: #226ED8;
}

.ContainerTelaRegister {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 860px) and (min-width: 769px){
    .ContainerTelaRegister {
      margin-top: 200px;
    }
    .ContainerTelaRegister img {
      display: none;
    }
}
@media screen and (max-width: 768px) {
    .ContainerTelaRegister{
      margin-left: -20px;
    }
    .ContainerTelaRegister img {
        display: none;
    }
  }

